@import './styles/variables.css';

:root {
  /* Tipografia */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-base-size);
  line-height: var(--line-height-multiplier);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);

  /* Cores */
  color: var(--black);
  background-color: var(--white);

  /* Renderização */
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-attachment: fixed;

  margin: 0 auto;
  display: flex;
  place-items: center;

  min-width: 320px;
  min-height: 100vh;

  max-width: var(--max-text-width);
  color: inherit;
  background-color: inherit;
}

/* Preferência para modo claro */
@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: var(--white);
  }
}

/* Preferência para modo escuro */
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white);
    background-color: var(--black);
  }
}
/*--------- TABLET -------------*/
@media (max-width: 768px) {
  
  body {
    padding: 1rem 0.5rem;                /* padding horizontal mais estreito */
  }
}
