@import './styles/variables.css';

:root {
  /* Tipografia */
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-base-size);
  line-height: var(--line-height-multiplier);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);

  /* Cores */
  color: var(--black);
  background-color: var(--white);

  /* Renderização */
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  display: flex;

  place-items: center;
  color: inherit;
}


/* Preferência para modo escuro */
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--white);
    background-color: var(--black);
  }
}

/*--------- TABLET -------------*/
@media (max-width: 768px) {
  
}
