@import './variables.css';

#root{
    text-align: left;
}

.adap-list{
    display: flex;
    width: 648px;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.adap-cell{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 10px;
}

#versao1{
    border: 2px solid var(--primary-stroke);
    background: var(--primary);
}

#versao2{
    border: 2px solid var(--secundary-stroke);
    background: var(--secundary);
    font-weight: 200;
}

.adap-title{
    display: flex;
    align-items: center;
    gap: 16px;  
}

span img{
    display: flex;
    width: 30px;
    height: 30px;
    padding: 6.136px 6.818px;
    justify-content: space-between;
    align-items: center;
    aspect-ratio: 1/1;
}

span p {
    color: #000;
    font-family: "Atkinson Hyperlegible";
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-bottom: 0; 
}

.ativo{
    color: white;
   background: var(--Active-color, #327353);;
}

/*PRÉ-DEFINIÇÕES*/

.pre-def-title{
    display: inline-flex;
    align-items: flex-end;
    gap: 16px;
}
.pre-def-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.adapt-info{
    width: 100%; /* ou fixa, tipo 593px */
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0px 20px;
    align-self: stretch;
    flex-wrap: wrap;
}

.adapt-info > p {
  box-sizing: border-box;
  width: 207px;
  width: calc((100% - 2 * 20px) / 3); /* 3 colunas, 2 gaps */
}
#motoras{
    margin-bottom: 2rem;
}