@import "./variables.css";  /* Importa o CSS dentro do CSS, não no JS */

.btn-legislativas,.btn-autarquicas{
    width: 100%;
    font-family: inherit;
}

.election-container{
    display: flex;

    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.election-btn{
    font-family: inherit;
    display: flex;

    width: 265px;
    min-height: 351px; /* altura mínima, mas cresce se precisar */
    padding: 20px;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-shrink: 0;

    border-radius: 10px;
    border: 2px solid var(--secundary-stroke);
}

.logo-legislativas{
    width: 150.653px;
    height: 186.107px;
    flex-shrink: 0;
    aspect-ratio: 150.65/186.11;

    margin-bottom: 2rem;
}

.btn-title{
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
}

.logo-autarquicas{
    width: 150.65px;
    height: 171.788px;
    flex-shrink: 0;
    aspect-ratio: 150.65/171.79;
    margin-bottom: 3rem;
}




