@import "./variables.css";  /* Importa o CSS dentro do CSS, não no JS */

html, body, #root {
  background-color: var(--primary); /* ou a cor de fundo da tua app */
  margin: 0;
  padding: 0;
  height: 100dvh;
}


.loading-wrapper {
  background-color: var(--primary); /* amarelo */
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.logo-container {
  width: 140px;
  height: 110px;
  margin-bottom: 2.5rem;
}

.logo-svg {
  width: 100%;
  height: 100%;
}

.loading_title {
  font-family: var(--font-family);
  font-size: 2.5rem; /* ~40px */
  font-weight: 700;
  color: black;
  margin: 0;
  line-height: 1.1;
}

.loading_subtitle {
  font-family: var(--font-family);
  font-size: 1.7rem; /* ~27px */
  font-weight: 400;
  color: black;
  margin-top: 0.5rem;
  max-width: 90vw;
  word-wrap: break-word;
}

/* Responsividade para tablets verticais (480px até 768px) */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
  .logo-container {
    width: 100px;
    height: 78px;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }
}
