@import "./variables.css";  /* Importa o CSS dentro do CSS, não no JS */

html, body, #root {
  background-color: var(--primary); /* ou a cor de fundo da tua app */
  margin: 0;
  padding: 0;
  height: 100dvh;
}

.loading-wrapper {
  background-color: var(--primary); /* amarelo */
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;

  width: 412px;
  height: 290.706px;
  flex-shrink: 0;
}

.logo-svg {
  width: 100%;
  height: 100%;
}

.loading_title {
  font-family: var(--font-family);
  font-size: 40px; /* ~40px */
  font-weight: 700;
  color: black;
  margin: 0;
  line-height: 1.1;
}

.loading_subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  color: black;
  max-width: 90vw;
  word-wrap: break-word;
  text-align: center;
}

.tipo-logo {
  display: flex;
  width: 412px;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.click-text {
  position: absolute;
  bottom: 10rem;
  font-weight: bold;
  font-size: var(--font-size);
  font-family: var(--font-family);

  color: black;
  text-align: center;
  cursor: pointer;
  animation: piscar 3s infinite;
}

@keyframes piscar {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}