/*----- IDENTIDADE --------*/

:root {
    /*Cores*/
    --active: #327353;
    --screen-reader-active: #004682;

    --destructive: #DE3321;

    --primary: #F9D849;
    --primary-stroke: #8F6F00 ;
    --secundary: #E0E0E0;
    --secundary-stroke:#767676 ;
    
    --white: #FFFFFF;
    --black: #000000;

    /* Tipografia */
    --font-base-size: 16px;             /* tamanho base da fonte */
    --line-height-multiplier: 1.5;     /* altura da linha: 16px * 1.5 = 24px */
    --paragraph-margin-multiplier: 2;  /* margem inferior do parágrafo: 16px * 2 = 32px */ 
    --max-text-width: 80ch;  /*  largura máxima do texto para legibilidade 50-80 caracteres */

    --font-family: 'Atkinson Hyperlegible', sans-serif;
  }

  /*------- TIPOGRAFIA -------------------*/
  h1,h2,h3,p{
    color:#000;
    text-align: left;
    margin:0;
  }
  
  h1{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 200% */
  }

  h2{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  h3{
    font-family: "Atkinson Hyperlegible";
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /*----------- BUTÕES -------------------*/
  .custom-button {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  height: 75px;
  padding: 10px 24px;
  border-radius: 10px;
  border: 2px solid #8F6F00;
  background: #F9D849;
  cursor: pointer;
  flex-shrink: 0;
}

.custom-button-text {
  color: #000;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.custom-button-icon {
  width: 30px;
  height: 30px;
  aspect-ratio: 1 / 1;
}

.icon-button {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 5px 5px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  
  border-radius: 22px;
  border: 2px solid var(--secundary-stroke);
  background: var(--secundary);  
}

.icon-button-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*------- SLIDERS --------*/
.slider-container {
  height: 44px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width controlado pelo inline style */
}

.slider-indicators {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.slider-indicator {
  width: 52px;
  height: 7px;
  border-radius: 30px;
  border: 2px solid #878787;
  background: #E0E0E0;
  flex-shrink: 0;
  transition: background 0.3s ease, border-color 0.3s ease;
}

.slider-indicator.active {
  background: #878787;
}

.slider-page-text {
  margin-top: 6px;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  user-select: none;
  text-align: center;
  width: 100%;
}




